/* General styles */
body {
  margin: 0;
  font-family: Arial, sans-serif;
  overflow-x: hidden;
}

/* Upper section */
.upper-section {
  background-color: #0d1b2a;
  color: #fff;
  padding: 40px 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: relative;
  overflow: hidden;
  min-height: 400px;
}

.upper-section .content {
  max-width: 60%;
  padding-left: 20px;
  position: relative;
  z-index: 2;
}

.upper-section h1 {
  font-size: 65px;
  margin-bottom: 20px;
  color: #fff;
}

.upper-section p {
  font-size: 18px;
  line-height: 1.8;
  color: #ccc;
  margin-bottom: 20px;
}

.upper-section .svg-container {
  position: absolute;
  right: 0;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
  overflow: hidden;
}

.svg-container svg {
  width: 100%;
  height: 100%;
  position: absolute;
  right: 0px;
  top: 10px;
}

/* SVG Path Animations */
.path-0 {
  animation: pathAnim-0 4s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
}

.path-1 {
  animation: pathAnim-1 4s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
}

.path-2 {
  animation: pathAnim-2 4s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
}

.path-3 {
  animation: pathAnim-3 4s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
}

@keyframes pathAnim-0 {
  0% {
    d: path("M 0,700 L 0,105 C 72.12426362297495,110.88595360824742 144.2485272459499,116.77190721649484 203,113 C 261.7514727540501,109.22809278350516 307.13015463917526,95.79832474226805 355,127 C 402.86984536082474,158.20167525773195 453.230854197349,234.034793814433 525,262 C 596.769145802651,289.965206185567 689.9464285714286,270.0625 753,292 C 816.0535714285714,313.9375 848.9834315169367,377.715206185567 904,420 C 959.0165684830633,462.284793814433 1036.119845360825,483.07667525773195 1101,503 C 1165.880154639175,522.923324742268 1218.5371870397644,541.9780927835052 1273,563 C 1327.4628129602356,584.0219072164948 1383.7314064801178,607.0109536082474 1440,630 L 1440,700 L 0,700 Z");
  }
  50% {
    d: path("M 0,700 L 0,105 C 49.055412371134025,108.37453976435935 98.11082474226805,111.74907952871871 162,138 C 225.88917525773195,164.2509204712813 304.61211340206177,213.37822164948452 371,226 C 437.38788659793823,238.62177835051548 491.44072164948466,214.73803387334314 542,228 C 592.5592783505153,241.26196612665686 639.6249999999999,291.6696428571429 706,327 C 772.3750000000001,362.3303571428571 858.0592783505157,382.58339469808544 914,392 C 969.9407216494843,401.41660530191456 996.137886597938,399.9967783505154 1052,430 C 1107.862113402062,460.0032216494846 1193.389175257732,521.4294918998528 1263,560 C 1332.610824742268,598.5705081001472 1386.305412371134,614.2852540500736 1440,630 L 1440,700 L 0,700 Z");
  }
  100% {
    d: path("M 0,700 L 0,105 C 72.12426362297495,110.88595360824742 144.2485272459499,116.77190721649484 203,113 C 261.7514727540501,109.22809278350516 307.13015463917526,95.79832474226805 355,127 C 402.86984536082474,158.20167525773195 453.230854197349,234.034793814433 525,262 C 596.769145802651,289.965206185567 689.9464285714286,270.0625 753,292 C 816.0535714285714,313.9375 848.9834315169367,377.715206185567 904,420 C 959.0165684830633,462.284793814433 1036.119845360825,483.07667525773195 1101,503 C 1165.880154639175,522.923324742268 1218.5371870397644,541.9780927835052 1273,563 C 1327.4628129602356,584.0219072164948 1383.7314064801178,607.0109536082474 1440,630 L 1440,700 L 0,700 Z");
  }
}

@keyframes pathAnim-1 {
  0% {
    d: path("M 0,700 L 0,245 C 67.52761413843888,222.4207474226804 135.05522827687776,199.8414948453608 196,209 C 256.94477172312224,218.1585051546392 311.30670103092785,259.05476804123714 360,309 C 408.69329896907215,358.94523195876286 451.71796759941094,417.9394329896907 507,445 C 562.2820324005891,472.0605670103093 629.8214285714286,467.18749999999994 706,472 C 782.1785714285714,476.81250000000006 866.9963181148748,491.31056701030934 930,518 C 993.0036818851252,544.6894329896907 1034.193298969072,583.5702319587629 1093,608 C 1151.806701030928,632.4297680412371 1228.2304860088366,642.4085051546392 1289,667 C 1349.7695139911634,691.5914948453608 1394.8847569955817,730.7957474226804 1440,770 L 1440,700 L 0,700 Z");
  }
  50% {
    d: path("M 0,700 L 0,245 C 58.50846833578794,261.23628497790867 117.01693667157588,277.4725699558174 173,286 C 228.98306332842412,294.5274300441826 282.4407216494845,295.34600515463916 348,321 C 413.5592783505155,346.65399484536084 491.22017673048606,397.1434094256258 560,429 C 628.7798232695139,460.8565905743742 688.6785714285713,474.0803571428572 748,499 C 807.3214285714287,523.9196428571428 866.0655375552283,560.5351620029455 923,594 C 979.9344624447717,627.4648379970545 1035.0592783505153,657.7789948453608 1088,662 C 1140.9407216494847,666.2210051546392 1191.69734904271,644.3488586156112 1250,658 C 1308.30265095729,671.6511413843888 1374.151325478645,720.8255706921943 1440,770 L 1440,700 L 0,700 Z");
  }
  100% {
    d: path("M 0,700 L 0,245 C 67.52761413843888,222.4207474226804 135.05522827687776,199.8414948453608 196,209 C 256.94477172312224,218.1585051546392 311.30670103092785,259.05476804123714 360,309 C 408.69329896907215,358.94523195876286 451.71796759941094,417.9394329896907 507,445 C 562.2820324005891,472.0605670103093 629.8214285714286,467.18749999999994 706,472 C 782.1785714285714,476.81250000000006 866.9963181148748,491.31056701030934 930,518 C 993.0036818851252,544.6894329896907 1034.193298969072,583.5702319587629 1093,608 C 1151.806701030928,632.4297680412371 1228.2304860088366,642.4085051546392 1289,667 C 1349.7695139911634,691.5914948453608 1394.8847569955817,730.7957474226804 1440,770 L 1440,700 L 0,700 Z");
  }
}

@keyframes pathAnim-2 {
  0% {
    d: path("M 0,700 L 0,385 C 76.37720913107512,354.8465574374079 152.75441826215024,324.6931148748159 205,342 C 257.24558173784976,359.3068851251841 285.35953608247416,424.0740979381444 345,470 C 404.64046391752584,515.9259020618556 495.8074374079529,543.0104933726068 565,555 C 634.1925625920471,566.9895066273932 681.4107142857142,563.8839285714287 728,582 C 774.5892857142858,600.1160714285713 820.54970544919,639.453792341679 875,665 C 929.45029455081,690.546207658321 992.3904639175257,702.3009020618556 1065,717 C 1137.6095360824743,731.6990979381444 1219.888438880707,749.3425994108984 1284,782 C 1348.111561119293,814.6574005891016 1394.0557805596463,862.3287002945508 1440,910 L 1440,700 L 0,700 Z");
  }
  50% {
    d: path("M 0,700 L 0,385 C 60.05117820324007,372.42976804123714 120.10235640648014,359.8595360824742 178,367 C 235.89764359351986,374.1404639175258 291.6417525773195,400.99162371134014 354,441 C 416.3582474226805,481.00837628865986 485.33063328424157,534.173969072165 555,560 C 624.6693667157584,585.826030927835 695.0357142857144,584.3124999999999 747,589 C 798.9642857142856,593.6875000000001 832.5265095729012,604.5760309278351 884,651 C 935.4734904270988,697.4239690721649 1004.8582474226805,779.3833762886597 1065,810 C 1125.1417525773195,840.6166237113403 1176.040500736377,819.8904639175258 1237,828 C 1297.959499263623,836.1095360824742 1368.9797496318115,873.0547680412371 1440,910 L 1440,700 L 0,700 Z");
  }
  100% {
    d: path("M 0,700 L 0,385 C 76.37720913107512,354.8465574374079 152.75441826215024,324.6931148748159 205,342 C 257.24558173784976,359.3068851251841 285.35953608247416,424.0740979381444 345,470 C 404.64046391752584,515.9259020618556 495.8074374079529,543.0104933726068 565,555 C 634.1925625920471,566.9895066273932 681.4107142857142,563.8839285714287 728,582 C 774.5892857142858,600.1160714285713 820.54970544919,639.453792341679 875,665 C 929.45029455081,690.546207658321 992.3904639175257,702.3009020618556 1065,717 C 1137.6095360824743,731.6990979381444 1219.888438880707,749.3425994108984 1284,782 C 1348.111561119293,814.6574005891016 1394.0557805596463,862.3287002945508 1440,910 L 1440,700 L 0,700 Z");
  }
}

@keyframes pathAnim-3 {
  0% {
    d: path("M 0,700 L 0,525 C 62.545103092783506,507.577411634757 125.09020618556701,490.154823269514 182,496 C 238.909793814433,501.845176730486 290.18427835051546,530.958118556701 357,569 C 423.81572164948454,607.041881443299 506.17268041237116,654.0127025036819 568,693 C 629.8273195876288,731.9872974963181 671.125,762.9910714285713 731,787 C 790.875,811.0089285714287 869.327319587629,828.0230117820323 922,852 C 974.672680412371,875.9769882179677 1001.5657216494844,906.9168814432991 1060,932 C 1118.4342783505156,957.0831185567009 1208.4097938144332,976.3094624447717 1277,995 C 1345.5902061855668,1013.6905375552283 1392.7951030927834,1031.8452687776141 1440,1050 L 1440,700 L 0,700 Z");
  }
  50% {
    d: path("M 0,700 L 0,525 C 73.79234167893964,496.30642488954345 147.58468335787927,467.6128497790869 212,484 C 276.41531664212073,500.3871502209131 331.4536082474226,561.8550257731958 383,599 C 434.5463917525774,636.1449742268042 482.6008836524302,648.9670471281297 536,676 C 589.3991163475698,703.0329528718703 648.1428571428571,744.2767857142857 710,774 C 771.8571428571429,803.7232142857143 836.8276877761415,821.9258100147275 904,847 C 971.1723122238585,872.0741899852725 1040.5463917525774,904.019974226804 1102,932 C 1163.4536082474226,959.980025773196 1216.9867452135493,983.994293078056 1272,1003 C 1327.0132547864507,1022.005706921944 1383.5066273932252,1036.002853460972 1440,1050 L 1440,700 L 0,700 Z");
  }
  100% {
    d: path("M 0,700 L 0,525 C 62.545103092783506,507.577411634757 125.09020618556701,490.154823269514 182,496 C 238.909793814433,501.845176730486 290.18427835051546,530.958118556701 357,569 C 423.81572164948454,607.041881443299 506.17268041237116,654.0127025036819 568,693 C 629.8273195876288,731.9872974963181 671.125,762.9910714285713 731,787 C 790.875,811.0089285714287 869.327319587629,828.0230117820323 922,852 C 974.672680412371,875.9769882179677 1001.5657216494844,906.9168814432991 1060,932 C 1118.4342783505156,957.0831185567009 1208.4097938144332,976.3094624447717 1277,995 C 1345.5902061855668,1013.6905375552283 1392.7951030927834,1031.8452687776141 1440,1050 L 1440,700 L 0,700 Z");
  }
}

/* Lower section */
.lower-section {
  background-color: #0d1b2a;
  padding: 40px 20px 80px;
  min-height: 50vh;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.lower-section h1 {
  color: #fff;
  text-align: center;
  margin-bottom: 40px;
  font-size: 32px;
}

.input-boxes {
  display: flex;
  justify-content: center;
  gap: 40px;
  flex-wrap: wrap;
  max-width: 1200px;
  margin: 0 auto;
}

.input-box {
  text-align: center;
  width: 250px;
  background-color: #fff;
  padding: 30px;
  border-radius: 15px;
  box-shadow: 0 8px 15px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.input-box:hover {
  transform: translateY(-20px);
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
}

.input-box h3 {
  font-size: 20px;
  color: #333;
  margin-bottom: 20px;
}

.input-box button {
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 8px;
  padding: 12px 24px;
  font-size: 16px;
  cursor: pointer;
  box-shadow: 0 0 10px rgba(0, 123, 255, 0.5);
  transition: all 0.3s ease;
}

.input-box button:hover {
  background-color: #3cffec;
  color: #000;
  transform: scale(1.1);
  box-shadow: 0 0 15px #3cffec, 0 0 30px #3cffec;
}

/* Responsive Design */
@media (max-width: 768px) {
  .upper-section {
    flex-direction: column;
    padding: 20px;
    min-height: 600px;
  }

  .upper-section .content {
    max-width: 100%;
    padding-left: 0;
    text-align: center;  /* Ensure the content is centered */
  }

  .upper-section h1 {
    font-size: 36px;  /* Slightly smaller for smaller screens */
  }

  .upper-section p {
    font-size: 16px;  /* Adjust text size for better readability */
  }

  .upper-section .svg-container {
    position: absolute;
    width: 100%;
    max-width: 100%;
    height: 50%;
    bottom: 0;
    right: 0;
    margin-top: 0;
  }

  .input-boxes {
    gap: 20px;
  }

  .input-box {
    width: 100%;
    max-width: 300px;
  }

  .lower-section h1 {
    font-size: 28px; /* Slightly smaller heading */
  }
}
